.fixed-header {
    z-index: 1; /* Par dessus */
    background-color: #fff; /* Cache */
    position: fixed; /* Par rapport à la fenêtre */
    top: 0; 
    margin: 0 auto; /* Centré gauche droite, Tout en haut */
    width: 100%;
}

.fixed-header h1 {
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 1px;
    line-height: 1;
}

.content-sided {
    display: flex;
    align-items: flex-start; /* Commence en haut */
    flex-direction: row; /* Affichage côte à côte */
}

.sidebar {
    z-index: 1; /* Par dessus */
    background-color: #fff; /* Cache */
    flex: ;
    margin: 0 auto; /* Centré | Tout en haut */
    max-width: 25%;
}